<div class="jumbotron mt-5">

	<div class="row">

		<div class="col-sm-12 col-md-12 col-lg-3">
			<%= image_tag 'foto01.jpg', class: 'img-fluid' %>
		</div>

		<div class="col-sm-12 col-md-12 col-lg-9">
			<p class="text-justify h4" style=" color: #28166f;">Mais do que ensinar, queremos formar pessoas transformadoras de si mesmas, do meio em que vivem e da sociedade, tornando-as mais justas e humanas.
				Uma abordagem pedagógica que abrange valores éticos e morais como a responsabilidade, disciplina, respeito a si mesmo, ao próximo e ao mundo. 
				Promovemos a interação da escola com a família, acompanhando de perto todo o desenvolvimento e aprendizado do aluno, sempre respeitando a fase em que está inserido.
			Ensino completo, valores que transformam! </p>
		</div>
		
	</div>
<hr>
<%= btn_back(root_path) %>
</div>