<div class="alert alert-danger" role="alert">
	- Caro Aluno, toda vez que você RESOLVER ou ALTERAR cada questão tem que clicar no botão salvar  que fica abaixo de cada questão <br>
	- As questões com títulos em vermelho não resolvidas, caso esteja tem que clicar no botão salvar <br>
	- As questões com títulos em verde já foram salvas, caso faça alteração tem que clicar para salvar a questão novamente <br>
</div>