<p>
<strong> <%= responder.resposta %> </strong>  
 <%= link_to 'Apagar Resposta', [responder.forum, responder], 	method: :delete, data: { confirm: 'Tem Certeza?' }, class: 'btn btn-danger btn-sm' %>
</p>
<hr>