<!DOCTYPE html>
<html>
<head>
</head>
<meta charset='utf-8'/>
<%#= wicked_pdf_stylesheet_link_tag "report" %>

<body style =  '<%= @style %>'>
	<div id="content">
		<%= yield %>
	</div>
</body>
</html>
